h1{
    
    font-family: Papyrus, fantasy;
    background-color: beige;
    padding:30px
}


li {
    font-size: 25px;
    background-color: beige;
    
    
}
img {
    height: auto;
    width: 500px;
    background-color: transparent;
    padding: 30px
    
}

p {
    font-size: 25px;
}

ul li {
    
        padding: 30px;
        
        margin-bottom: 10px;
        
      

}



